<%- include('../include(ejs)/head.ejs') %>
<link rel="stylesheet" href="/mainPage.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="./baitapCss.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <%- include('../include(ejs)/navigation.ejs') %>
   <main>
      <div class="home-container">
         <div class='home-content'>
            <video autoplay="autoplay" loop="loop" muted="muted" style="width: 2000px;height: 1000px; object-fit: cover;">
               <source type="audio/mp4" src="/image/3e78e80.mp4">
            </video>
         </div>
         <div class="home-image">
            <img src="/image/journey.png"> 
         </div>
      </div>
      <div class="news_image">
      <div class="news-container">
          <div class="label__new">
              <h3>NEWS</h3>
          </div>
         <div class="newsBody">
            <div class="carousel__part">
               <div id="my-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                     <li data-target="#my-carousel" data-slide-to="1"></li>
                     <li data-target="#my-carousel" data-slide-to="2"></li>
                     <li data-target="#my-carousel" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                     <div class="carousel-item active">
                        <a><img src="/image/carousel/slide1.png" alt=""></a>
                     </div>
                     <div class="carousel-item">
                        <a><img src="./image/carousel/slide2.png" alt=""></a>
                     </div>
                     <div class="carousel-item">
                        <a><img src="./image/carousel/slide3.png" alt=""></a>
                     </div>
                     <div class="carousel-item">
                        <a><img src="/image/carousel/slide4.png" alt=""></a>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my-carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#my-carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
            <div class="news__part">
               <ul class="new__tab__list">
                     <li class="new__tab__item">Latest</li>
               </ul>
               <ul class="new__list">
                  <% for (let newItem of news) { %> 
                     <li><a class="new__item" target='_blank' href="<%= newItem.newsUrl %>"><p class="new__title"><%= newItem.title %></p><p class="news__date"><%= newItem.createdAt %></p></a></li>
                     <% } %>                 
               </ul>
             </div>
         </div> 
      </div>
      </div>
      <footer>
         <div class="footer">
            <div class="footer__top">
               <a href="" class="footer__socialitem"></a>
            </div>
            <div class="footer_cdn">
               <div class="mihoyo-sea-footer dark">
                  <div class="footer-wrap">
                     <div class="footer-content">
                        <div class="footer-content-logo">
                           <div class="logoimg">
                              <img src='https://uploadstatic-sea.mihoyo.com/hk4e/upload/officialsites/202004/mihoyo_1586770772_9709.png'> 
                           </div>
                           <div class="ghenshin_logo">
                              <img src='https://uploadstatic-sea.mihoyo.com/hk4e/upload/officialsites/202004/GIEN_1587984203_6764.png'>
                           </div>
                        </div>
                        <div class="footer-content-info">
                           <div class="links">
                              <a>Privacy Policy</a>
                              <a>Terms of Service</a>
                              <a>About Us</a>
                              <a>Contact Us</a>
                           </div>
                           <div class="copyright">
                              Copyright © 2020 miHoYo All Rights Reserved      
                           </div>
                           <div class="extra-info">
                              "PlayStation Family Mark" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.      
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"></script>
   </main>
   <%- include('../include(ejs)/end.ejs') %>