<%- include('../include(ejs)/head.ejs') %>
    <link rel="stylesheet" href='/monstChar.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
    <%- include('../include(ejs)/navigation.ejs') %>
    <%- include('../include(ejs)/horizonNavigation.ejs') %>
    <main>
        <div class="sliderBody">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <% for (let char of chars) { %>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= char.id %>" class="active"><img style='width: 100%;' src="<%= char.avatarURL %>" alt="..."></li>
                 <% } %>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner active" role="listbox">
                <% for (let char of chars) { %>
                    <% if (chars[0].id == char.id) { %>
                        <div class="item active">
                            <div class="slideBlock">
                               <img src="<%= char.imageURL %>" alt="...">
                               <div class="slideName">
                                   <img src="<%= char.name %>" alt="...">
                                   <div class="character__cv">
                                       <h1>CV: <%= char.CV %></h1>
                                       <img src="<%= char.introduce %>">
                                    </div>
                                </div>
                            </div>
                          </div>
                          <% } else { %>
                        <div class="item">
                            <div class="slideBlock">
                               <img src="<%= char.imageURL %>" alt="...">
                               <div class="slideName">
                                <img src="<%= char.name %>" alt="...">
                                <div class="character__cv">
                                    <h1>CV: <%= char.CV %></h1>
                                    <img  src="<%= char.introduce %>">
                                 </div>
                                </div>
                            </div>
                          </div>
                        <% } %>
                <% } %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        </div>
    </main>
        <%- include('../include(ejs)/end.ejs') %>